/* Common styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  box-sizing: border-box;
}

/* Top section */
.flexible-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-banner {
  width: 100%;
  height: 80vh;
  background-color: #2d25a0;
  margin-bottom: 70px;
}

.half-width {
  width: 50%;
}

.watch-live-area {
  margin-left: 300px;
  margin-right: 102px;
  padding-bottom: 169px;
}

h1 {
  width: 485px;
  height: 230px;
  font-size: 64px;
  color: #ffffff;
}

.button-transition {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  background-color: #e02c6d;
  padding: 10px 24px;
  display: inline-block;
  margin-top: 25px;
  transition: transform 0.4s ease-out;
}

.watch-live-area a:hover,
button:hover {
  background-color: black;
  transform: scale(1.2);
}

.fa-arrow-right {
  padding-left: 10px;
}

.top-banner .half-width img {
  width: 700px;
  margin-right: 200px;
  margin-bottom: 30px;
}

/* players section */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.container {
  width: 1054px;
  margin-bottom: 100px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.player {
  width: 330px;
  height: 474px;
  border: 2px solid white;
  box-shadow: 10px 10px 30px black;
  background-color: #ffffff;
  margin-right: 20px;
}

.player-img img {
  width: 300px;
  height: 256px;
  padding: 15px 15px 15px 15px;
}

.player-details {
  padding: 15px 15px 0 15px;
}

.player-name {
  margin-top: 0;
}

.player-info {
  font-weight: 400;
}

/* Ticket buy area */

.buy-tickets {
  text-align: center;
  background-color: #ffffff;
  padding: 20px 0;
  width: 50%;
  box-shadow: 10px 10px 30px black;
}

input {
  padding: 10px;
  border-radius: 20px;
}

label {
  padding-right: 10px;
}

.user-email {
  padding-left: 35px;
}

.user-match-date {
  margin-left: 20px;
}

#match-date {
  margin-right: 30px;
  margin-left: 0px;
  padding-left: 40px;
}

/* footer section */
footer {
  width: 100%;
  height: 213px;

  text-align: center;
}

footer img {
  width: 483px;
  height: 100px;
}

.fab {
  color: #969bab;
  background-color: #969bab54;
  display: inline-block;
  padding: 7px;
  border-radius: 50%;
  margin-right: 7px;
}

/* Mobile Devices iphone x */

@media screen and (max-width: 768px) {
  body {
    width: 100vw;
  }
  .flexible-container {
    flex-direction: column;
  }

  .top-banner {
    width: 100vw;
    height: 70vh;
  }

  .half-width {
    display: block;
    height: 0px;
  }

  .watch-live-area {
    margin-left: 16px;
    margin-right: 66px;
    padding-bottom: 20px;
  }

  h1 {
    width: 278px;
    font-size: 34px;
    margin-bottom: 10px;
    height: 150px;
  }

  .button-transition {
    margin-top: 10px;
  }

  .top-banner .half-width img {
    width: 250px;
    height: 250px;
    margin-right: 0;
  }

  .container {
    width: 80%;
  }

  .players {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
    justify-items: center;
  }

  .buy-tickets {
    padding-left: 30px;
    padding-right: 30px;
  }

  footer img {
    width: 60%;
    object-fit: contain;
  }
}

/* Tablet devices ipad-pro */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    width: 100%;
  }

  .top-banner {
    width: 100vw;
    height: 70vh;
  }

  .watch-live-area {
    margin-left: 50px;
    margin-right: 0;
    padding-bottom: 20px;
    margin-bottom: 124px;
  }

  h1 {
    width: 300px;
    font-size: 50px;
    margin-bottom: 20px;
    height: 200px;
  }

  .top-banner .half-width img {
    width: 300px;
    height: 256px;
    margin-right: 0px;
  }

  .container {
    width: 80%;
  }

  .players {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-items: flex-start;
  }

  .buy-tickets {
    padding-left: 30px;
    padding-right: 30px;
  }

  footer img {
    width: 60%;
    object-fit: contain;
  }
}
